<div class="hero img-responsive">
  <br />
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <h1>Learn programming skills from the Pros</h1>
    <h2>Gain a new skill today!</h2>
    <%= link_to 'Learn More...', courses_path, class: 'btn btn-success' %>
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Code</h3>
      <%= image_tag 'code.png' %>
      <h4 class="text-center">
        Learn the latest technologies used by the best Startups to build and launch products fast (Github, Heroku, AWS, Ruby on Rails, HTML5, CSS3, etc...)
      </h4>
  </div>
  
  <div class="col-sm-4">
    <h3>Video</h3>
      <%= image_tag 'video.png' %>
      <h4 class="text-center">
        Step by step video instructions on how to build a fully functional web application.
      </h4>
  </div>

  <div class="col-sm-4">
    <h3>Online Learning</h3>
      <%= image_tag 'monitor.png' %>
      <h4 class="text-center">
        Do it at your own pace. Intensive or moderate pace, it's all up to you!
      </h4>
  </div>
</div>